body{
    color: #4d4e53;
    font-family: 'Open Sans', Arial, sans-serif;
    line-height: 1.5;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.row{
     margin:0 2%; 
    display: grid;
    grid-template-columns: 0.9fr 2.5fr;
}

.col-2{
    margin-top: 4%;
}

.main-section >header{
    font-size:1.8rem;
    color:black;
}

.main-section,li{
   margin-top:15px;
   margin-left: 3%;

}

p,ul{
    font-size: 0.96em;
}

code{
    display: block;
    text-align: left;
    white-space: pre-line;
    position: relative;
    word-break: normal;
    word-wrap: normal;
    line-height: 2;
    background-color: #f7f7f7;
    padding: 15px;
    margin: 10px;
    border-radius: 5px; 
}

